<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h1>Team Name: <%= @basketball[:name] %></h1>
 <h4>Coach: <%= @basketball[:coach] %></h4>
  <h4>Point Guard: <%= @basketball[:pg] %></h4>
   <h4>Shooting Guard: <%= @basketball[:sg] %></h4>
    <h4>Power Forward: <%= @basketball[:pf] %></h4>
     <h4>Small Forward: <%= @basketball[:sf] %></h4>
      <h4>Center: <%= @basketball[:c] %></h4>

</body>
</html>
